openapi: 3.0.3
info:
  title: Vector OS API
  description: |
    Backend API documentation for **Vector OS** — the ultimate student task management operating system.

    ## Architecture
    Vector OS uses a hybrid backend approach:
    - **Next.js Server Actions** handle authenticated mutations (create, update, delete tasks, profile updates). These are RPC-style calls from the client, not traditional REST endpoints.
    - **Next.js Route Handlers** (`/api/*`) handle standard HTTP requests.
    - **Supabase Auth** handles all authentication flows (email/password, Google OAuth).
    - All data access is protected by **Row Level Security (RLS)** policies in Supabase Postgres.

    ## Authentication
    All protected endpoints require an active Supabase session cookie (`sb-*`), which is automatically managed by the Supabase Auth client.

  version: 1.0.0
  contact:
    name: PRODHOSH
    url: https://prodhosh.me
    email: support@prodhosh.me
  license:
    name: MIT

servers:
  - url: https://vector.prodhosh.me
    description: Production
  - url: http://localhost:3000
    description: Local Development

tags:
  - name: Auth
    description: Authentication and session management via Supabase Auth
  - name: Tasks
    description: Task CRUD operations (via Next.js Server Actions)
  - name: Profile
    description: User profile management (via Next.js Server Actions)
  - name: Utility
    description: Utility endpoints

# ─────────────────────────────────────────────────────────
# PATHS
# ─────────────────────────────────────────────────────────
paths:

  # ── AUTH ────────────────────────────────────────────────
  /auth/callback:
    get:
      tags: [Auth]
      summary: OAuth / Email Confirmation Callback
      description: |
        Handles the redirect after a user confirms their email or signs in via an OAuth provider (Google).
        Supabase redirects the user here with a `code` query parameter after successful authorization.
        The handler exchanges the code for a session and redirects to `/dashboard`.
      parameters:
        - name: code
          in: query
          required: true
          description: One-time authorization code issued by Supabase Auth.
          schema:
            type: string
            example: "abc123xyz"
        - name: next
          in: query
          required: false
          description: Path to redirect to after successful authentication. Defaults to `/dashboard`.
          schema:
            type: string
            default: /dashboard
            example: /dashboard/tasks
      responses:
        "302":
          description: Redirects to `next` path on success, or `/auth/auth-code-error` on failure.
          headers:
            Location:
              schema:
                type: string
                example: https://vector.prodhosh.me/dashboard
        "302 (error)":
          description: Redirects to `/auth/auth-code-error` if the code exchange fails.

  # ── UTILITY ─────────────────────────────────────────────
  /api/seed:
    get:
      tags: [Utility]
      summary: Seed Sample Tasks
      description: |
        Seeds the authenticated user's account with a set of pre-built sample tasks for demonstration purposes.
        Only works if the user is authenticated. Safe to call multiple times (adds new tasks each call).

        > **Warning:** This endpoint is intended for development/demo use only. It is not guarded by an admin key in production.
      security:
        - supabaseSession: []
      responses:
        "200":
          description: Tasks seeded successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Successfully seeded tasks!
        "401":
          description: User is not authenticated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Database insert error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # ── SERVER ACTIONS (documented as RPC) ──────────────────
  # Next.js Server Actions are not traditional HTTP endpoints.
  # They are invoked via POST to the page's URL with a special
  # `Next-Action` header. They are documented here as logical
  # operations for clarity.

  /actions/createTask:
    post:
      tags: [Tasks]
      summary: Create Task (Server Action)
      description: |
        Creates a new task for the authenticated user. Invoked via Next.js Server Action (not a standard REST call).

        **How it works internally:**
        - Validates that `title` is present.
        - Resolves the authenticated user from the server-side Supabase session.
        - Inserts a new row into the `tasks` table with `status: "todo"`.
        - Revalidates the dashboard, tasks, and calendar pages.
      security:
        - supabaseSession: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/TaskFormData"
      responses:
        "200":
          description: Task created and pages revalidated.
        "400":
          description: Title is required.
        "401":
          description: Unauthorized — no active session.
        "500":
          description: Supabase database error.

  /actions/updateTask:
    post:
      tags: [Tasks]
      summary: Update Task (Server Action)
      description: |
        Updates an existing task by `id`. Only updates tasks owned by the authenticated user (enforced via `.eq("user_id", user.id)`).
      security:
        - supabaseSession: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              allOf:
                - $ref: "#/components/schemas/TaskFormData"
                - type: object
                  required: [id]
                  properties:
                    id:
                      type: string
                      format: uuid
                      description: The task UUID to update.
                      example: "a3f1c2d4-5e6b-7c8d-9e0f-1a2b3c4d5e6f"
      responses:
        "200":
          description: Task updated and pages revalidated.
        "400":
          description: Title is required.
        "401":
          description: Unauthorized.
        "500":
          description: Supabase database error.

  /actions/updateTaskStatus:
    post:
      tags: [Tasks]
      summary: Update Task Status (Server Action)
      description: |
        Changes only the `status` field of a task. Used by the Kanban board drag-and-drop and status dropdowns.

        **Status mapping:**
        | UI Label | DB Enum |
        |---|---|
        | To Do | `todo` |
        | In Progress | `in_progress` |
        | Done | `done` |
      security:
        - supabaseSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id, newStatus]
              properties:
                id:
                  type: string
                  format: uuid
                  example: "a3f1c2d4-5e6b-7c8d-9e0f-1a2b3c4d5e6f"
                newStatus:
                  type: string
                  enum: ["To Do", "In Progress", "Done"]
                  example: "In Progress"
      responses:
        "200":
          description: Status updated and pages revalidated.
        "401":
          description: Unauthorized.
        "500":
          description: Supabase database error.

  /actions/deleteTask:
    post:
      tags: [Tasks]
      summary: Delete Task (Server Action)
      description: |
        Permanently deletes a task by `id`. Only deletes tasks owned by the authenticated user.
      security:
        - supabaseSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id]
              properties:
                id:
                  type: string
                  format: uuid
                  example: "a3f1c2d4-5e6b-7c8d-9e0f-1a2b3c4d5e6f"
      responses:
        "200":
          description: Task deleted and pages revalidated.
        "401":
          description: Unauthorized.
        "500":
          description: Supabase database error.

  /actions/updateProfile:
    post:
      tags: [Profile]
      summary: Update User Profile (Server Action)
      description: |
        Updates the authenticated user's profile (`full_name` and optionally `avatar_url`).

        If an avatar file is provided:
        1. Uploads the file to the Supabase `avatars` storage bucket at `{user_id}/avatar.{ext}` (upsert).
        2. Retrieves the public URL and stores it in the `profiles` table.
      security:
        - supabaseSession: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [full_name]
              properties:
                full_name:
                  type: string
                  example: "Prodhosh V S"
                avatar:
                  type: string
                  format: binary
                  description: Optional profile image file (jpg, png, webp).
      responses:
        "200":
          description: Profile updated and dashboard layout revalidated.
        "400":
          description: Full name is required.
        "401":
          description: Unauthorized.
        "500":
          description: Avatar upload failed or database error.

# ─────────────────────────────────────────────────────────
# COMPONENTS
# ─────────────────────────────────────────────────────────
components:
  securitySchemes:
    supabaseSession:
      type: apiKey
      in: cookie
      name: sb-access-token
      description: |
        Supabase session cookie automatically set by the Supabase Auth client after login.
        All protected routes require this cookie to be present and valid.

  schemas:
    Task:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "a3f1c2d4-5e6b-7c8d-9e0f-1a2b3c4d5e6f"
        user_id:
          type: string
          format: uuid
          example: "b2e3d4c5-6f7a-8b9c-0d1e-2f3a4b5c6d7e"
        title:
          type: string
          example: "Finish Calculus Assignment"
        description:
          type: string
          nullable: true
          example: "Complete chapters 4 and 5 problems from the textbook."
        status:
          type: string
          enum: [todo, in_progress, done]
          example: todo
        priority:
          type: string
          enum: [low, medium, high]
          example: high
        due_date:
          type: string
          format: date-time
          nullable: true
          example: "2026-09-18T18:30:00.000Z"
        created_at:
          type: string
          format: date-time
          example: "2026-09-16T10:00:00.000Z"
        updated_at:
          type: string
          format: date-time
          example: "2026-09-16T15:30:00.000Z"

    Profile:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Same as the Supabase Auth user ID.
        full_name:
          type: string
          example: "Prodhosh V S"
        avatar_url:
          type: string
          format: uri
          nullable: true
          example: "https://xyzproject.supabase.co/storage/v1/object/public/avatars/user-id/avatar.png"
        role:
          type: string
          example: "student"

    TaskFormData:
      type: object
      required: [title]
      properties:
        title:
          type: string
          example: "Finish Calculus Assignment"
        description:
          type: string
          example: "Complete chapters 4 and 5 problems."
        priority:
          type: string
          enum: [low, medium, high]
          default: medium
          example: high
        due_date:
          type: string
          description: Human-readable date string (fallback).
          example: "2026-09-18"
        dueDateISO:
          type: string
          format: date-time
          description: ISO 8601 date-time string (preferred, takes precedence over due_date).
          example: "2026-09-18T18:30:00.000Z"

    Error:
      type: object
      properties:
        error:
          type: string
          example: "Unauthorized"
