openapi: 3.0.3
info:
  title: Vector OS API
  description: |
    Backend API documentation for **Vector OS** — the ultimate student task management operating system.

    ## Architecture
    Vector OS uses a hybrid backend approach:
    - **Next.js Server Actions** handle authenticated mutations (create, update, delete tasks, profile updates). These are RPC-style calls from the client, not traditional REST endpoints.
    - **Next.js Route Handlers** (`/api/*`) handle standard HTTP requests including webhooks, cron jobs, and OAuth flows.
    - **Supabase Auth** handles all authentication flows (email/password, Google OAuth).
    - All data access is protected by **Row Level Security (RLS)** policies in Supabase Postgres.

    ## Authentication
    All protected endpoints require an active Supabase session cookie (`sb-*`), which is automatically managed by the Supabase Auth client. Certain cron endpoints use bearer tokens (CRON_SECRET).

  version: 1.0.0
  contact:
    name: PRODHOSH
    url: https://prodhosh.me
    email: support@prodhosh.me
  license:
    name: MIT

servers:
  - url: https://vector.prodhosh.me
    description: Production
  - url: http://localhost:3000
    description: Local Development

tags:
  - name: Auth
    description: Authentication and session management via Supabase Auth
  - name: Tasks
    description: Task CRUD operations (via Next.js Server Actions)
  - name: Profile
    description: User profile management (via Next.js Server Actions)
  - name: Integrations
    description: Third-party integrations (Google Calendar, etc.)
  - name: Cron
    description: Automated background jobs
  - name: Webhooks
    description: Inbound webhooks from external services
  - name: Utility
    description: Utility endpoints

# ─────────────────────────────────────────────────────────
# PATHS
# ─────────────────────────────────────────────────────────
paths:

  # ── AUTH ────────────────────────────────────────────────
  /auth/callback:
    get:
      tags: [Auth]
      summary: OAuth / Email Confirmation Callback
      description: |
        Handles the redirect after a user confirms their email or signs in via an OAuth provider.
      parameters:
        - name: code
          in: query
          required: true
          schema:
            type: string
        - name: next
          in: query
          required: false
          schema:
            type: string
            default: /dashboard
      responses:
        "302":
          description: Redirects to `next` path.

  # ── INTEGRATIONS ─────────────────────────────────────────
  /api/integrations/google:
    get:
      tags: [Integrations]
      summary: Initiate Google OAuth
      description: Redirects the user to the Google OAuth consent screen for Calendar access.
      security:
        - supabaseSession: []
      responses:
        "302":
          description: Redirects to Google consent screen.

  /api/integrations/google-callback:
    get:
      tags: [Integrations]
      summary: Google OAuth Callback
      description: Exchanges Google authorization code for refresh tokens and stores them in `user_integrations`.
      parameters:
        - name: code
          in: query
          required: true
          schema:
            type: string
      responses:
        "302":
          description: Redirects to `/dashboard/settings`.

  /api/integrations/google/disconnect:
    post:
      tags: [Integrations]
      summary: Disconnect Google Calendar
      description: Revokes the Google OAuth token and removes it from `user_integrations`.
      security:
        - supabaseSession: []
      responses:
        "200":
          description: Successfully disconnected.

  /api/calendar/sync:
    post:
      tags: [Integrations]
      summary: Sync Google Calendar Events
      description: Pulls events from Google Calendar and imports them as tasks into Vector OS.
      security:
        - supabaseSession: []
      responses:
        "200":
          description: Calendar synced successfully.

  # ── CRON & AUTOMATIONS ──────────────────────────────────
  /api/cron/daily:
    get:
      tags: [Cron]
      summary: Daily Deadline Reminders
      description: Runs daily to send emails for tasks due within 24 hours or tasks that are overdue.
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Emails processed successfully.
        "401":
          description: Unauthorized cron secret.

  /api/cron/weekly:
    get:
      tags: [Cron]
      summary: Weekly Wrap-up
      description: Runs weekly (Sundays) to send a summary of completed and pending tasks.
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Emails processed successfully.
        "401":
          description: Unauthorized cron secret.

  /api/tasks/email-to-task:
    post:
      tags: [Webhooks]
      summary: Inbound Email to Task
      description: Webhook endpoint for receiving forwarded emails to automatically create tasks.
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Task created from email.

  # ── UTILITY ─────────────────────────────────────────────
  /api/seed:
    get:
      tags: [Utility]
      summary: Seed Sample Tasks
      security:
        - supabaseSession: []
      responses:
        "200":
          description: Tasks seeded successfully.

  # ── SERVER ACTIONS ──────────────────────────────────────
  /actions/createTask:
    post:
      tags: [Tasks]
      summary: Create Task (Server Action)
      security:
        - supabaseSession: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/TaskFormData"
      responses:
        "200":
          description: Task created.

  /actions/updateTask:
    post:
      tags: [Tasks]
      summary: Update Task (Server Action)
      security:
        - supabaseSession: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              allOf:
                - $ref: "#/components/schemas/TaskFormData"
                - type: object
                  required: [id]
                  properties:
                    id:
                      type: string
                      format: uuid
      responses:
        "200":
          description: Task updated.

  /actions/updateTaskStatus:
    post:
      tags: [Tasks]
      summary: Update Task Status (Server Action)
      security:
        - supabaseSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id, newStatus]
              properties:
                id:
                  type: string
                  format: uuid
                newStatus:
                  type: string
                  enum: ["To Do", "In Progress", "Done"]
      responses:
        "200":
          description: Status updated.

  /actions/deleteTask:
    post:
      tags: [Tasks]
      summary: Delete Task (Server Action)
      security:
        - supabaseSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id]
              properties:
                id:
                  type: string
                  format: uuid
      responses:
        "200":
          description: Task deleted.

  /actions/updateProfile:
    post:
      tags: [Profile]
      summary: Update User Profile (Server Action)
      security:
        - supabaseSession: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [full_name]
              properties:
                full_name:
                  type: string
                avatar:
                  type: string
                  format: binary
      responses:
        "200":
          description: Profile updated.

# ─────────────────────────────────────────────────────────
# COMPONENTS
# ─────────────────────────────────────────────────────────
components:
  securitySchemes:
    supabaseSession:
      type: apiKey
      in: cookie
      name: sb-access-token
    bearerAuth:
      type: http
      scheme: bearer
      description: Vercel Cron Secret (CRON_SECRET)

  schemas:
    Task:
      type: object
      properties:
        id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
          nullable: true
        status:
          type: string
          enum: [todo, in_progress, done]
        priority:
          type: string
          enum: [low, medium, high]
        due_date:
          type: string
          format: date-time
          nullable: true
        external_source:
          type: string
          nullable: true
          description: e.g., 'google_calendar'
        external_id:
          type: string
          nullable: true
        reminder_sent_at:
          type: string
          format: date-time
          nullable: true
        overdue_notified_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Profile:
      type: object
      properties:
        id:
          type: string
          format: uuid
        full_name:
          type: string
        avatar_url:
          type: string
          format: uri
          nullable: true
        role:
          type: string
        email:
          type: string
          nullable: true
        is_admin:
          type: boolean
          default: false

    UserIntegration:
      type: object
      properties:
        id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        provider:
          type: string
          example: 'google'
        access_token:
          type: string
        refresh_token:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    AdminEmailLog:
      type: object
      properties:
        id:
          type: string
          format: uuid
        admin_id:
          type: string
          format: uuid
        subject:
          type: string
        recipients_count:
          type: integer
        created_at:
          type: string
          format: date-time

    TaskFormData:
      type: object
      required: [title]
      properties:
        title:
          type: string
        description:
          type: string
        priority:
          type: string
          enum: [low, medium, high]
          default: medium
        due_date:
          type: string
        dueDateISO:
          type: string
          format: date-time

    Error:
      type: object
      properties:
        error:
          type: string
